body {
	background-color: #222;
	color: #fff;
	margin: 0px;	
	text-align:center;
	font-family: sans-serif;
	font-family: Lato;
}
h1 { 
  font-size: 3em;
  margin: .5em 0
}
button {
  display: inline-block;
  margin: .5em 0;
  color: #fff;
  background: #333;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0,0,0,.4);
  font-family: Lato;
  font-size: 100%;
  cursor: pointer;
}
button:hover {
  background: #555
}
canvas {
  border: solid 1px #333;
  background: #000;
  box-shadow: 0 0 50px rgba(0,0,0,.4)
}